
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h3>Reservations <span class="label label-info">{{ reservations.length }}</span></h3>
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Resource</th>
                        <th>Date</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Reserved by</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="reservation in reservations">
                        <td>{{ reservation.resources_list[0].name }}</td>
                        <td>{{ reservation.begin | date:"dd.MM.yyyy"}}</td>
                        <td>{{ reservation.begin | date:"HH:mm"}}</td>
                        <td>{{ reservation.end | date:"HH:mm"}}</td>
                        <td>{{ reservation.user }}</td>
                        <td>
                            <button class="btn btn-danger btn-sm" ng-click="deleteReservation(reservation._id)">Cancel</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  


