{{cat}}

<div class="row">
    <!-- FORM TO CREATE resources -->        
    <div class="col-sm-8 col-sm-offset-2 form-block" >
        <h2>{{titleAction}} resource</h2>
        <form name="resourceForm" class="form" ng-submit="submitResourceForm(resourceForm.$valid)" novalidate>
            
            <!-- RESOURCE NAME -->
            <div class="form-group" ng-class="{ 'has-error' : resourceForm.name.$invalid && resourceForm.$submitted }" >
                <label>Name</label>
                <input type="text" name="name" class="form-control" placeholder="Name of resource" ng-model="formData.name" required>
                <p ng-show=" resourceForm.name.$invalid && resourceForm.$submitted" class="help-block">Resource name is required.</p>                            
            </div>

            <!-- RESOURCE DESCRIPTION -->
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" placeholder="Description and location" ng-model="formData.description"></textarea>
            </div>

            
            <div class="col-sm-offset-5">
                <button type="submit" class="btn btn-primary btn-lg">Save</button>
            </div>
        </form>
    </div>            
</div>